/**
 *
 * David \'Alvarez Rosa's personal blogsite CSS Styles.
 * Copyright (C) 2019-2020 David \'Alvarez Rosa
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
**/


/* Blog entry title and subtitle. */
main h1 {
    position: relative;
    font-weight: bold;
    color: #666666;
    width: 650px;
    max-width: 100%;
    margin: 1em auto 27px auto;
    border-top: solid 2px #B3B3B3;
    border-bottom: solid 2px #B3B3B3;
    text-align: center;
    text-transform: uppercase;
}

.subTitle {
    width: 650px;
    max-width: 100%;
    margin: 0 auto 3em auto;
}

.abstract {
    text-decoration: underline;
}

.marginTopAux {
    margin-top: 17px;
}

.marginTopAuxAux {
    margin-top: .75em;
}


/* Basics (for global use). */
.readMore {
    margin-top: -1.25em;
    margin-bottom: .75em;
    text-align: center;
}

.readMore:hover {
    color: var(--main-color);
    transform: scale(1.075);
    transition: transform .4s;
}

.moreTags {
    padding-left: .25em;
}

blockquote {
    margin-bottom: 1.5em;
}

.quoteAuthor {
    padding-top: .75em;
}

main figure {
    margin: 0 auto 1.5em auto;
    width: 585px;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid #DADCE0;
    padding: 10px 10px 5px 10px;
}

main figure:hover, main figure:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

main figure img {
    width: 100%;
}

figcaption {
    color: #666666;
    text-align: center;
    padding-top: .5em;
    border-top: 1px solid #CCCCCC;
}

main h3 a:hover::before, main h3 a:focus::before {
    visibility: hidden;
}

h3 .linkIcon {
    font-size: .75em;
    padding-left: .25em;
    opacity: 0;
    transition: opacity .5s;
}

h3:hover .linkIcon, h3:focus .linkIcon {
    opacity: 1;
}


/* Zoomed image. */
#zoomImgDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, .85);
    display: none;
}

#zoomImgDiv figure {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 850px;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

#zoomImg {
    width: 100%;
    max-height: 100%;
}

#zoomImgCaption {
    color: #FFFFFF;
}

#zoomImgCaption strong {
    font-weight: bold;
}

#zoomImgDiv i {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #FFFFFF;
}

#zoomImgDiv i:hover, #zoomImgDiv i:focus {
  color: #BBB;
  text-decoration: none;
  cursor: pointer;
}

#zoomImg, #zoomImgCaption {
    animation: zoom .65s;
}

@keyframes zoom {
    from { transform: scale(0); }
    top { transform: scale(1); }
}


/* Callout. */
.callOut span {
    position: absolute;
    margin-top: 32px;
    margin-left: -252px;
    width: 275px;
    z-index: 10;
    padding: 15px 15px 2px 15px;
    background-color: var(--main-color);
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    border: 1px solid #666666;
    display: none;
}

.callOut span::after {
    content: "";
    width: 0;
    height: 0;
	  position: absolute;
    top: -1px;
    right: 20px;
    transform: translateY(-100%);
    z-index: -1;
    margin-left: -25%;
    border-bottom: solid 10px var(--main-color);
    border-bottom: solid 10px #666666;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.callOut a {
    all: unset;
    transition: scale .5s;
}

.callOut a:hover i, .callOut a:focus i, {
    transform: scale(1.2);
}

.callOut span p {
    color: #000000;
    text-align: left;
    font-size: .9em;
    margin-bottom: 1em;
}

.callOut:hover, .callOut:focus {
    cursor: pointer;
}

.callOut span:hover, .callOut span:focus {
    cursor: default;
}

.callOut:hover span, .callOut:focus span {
    display: inline-block;
}


/* Enlarged call out. */
#enlargedCallOutDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}

#enlargedCallOutContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

#enlargedCallOutContainer i {
    position: absolute;
    line-height: 10px !important;
    top: -4px;
    right: -10px;
    font-size: 22px;
    color: #000000;
    border-radius: 100%;
    background-color: var(--main-color);
}

#enlargedCallOutContainer i:hover, #enlargedCallOutContainer i:focus {
    color: #BBB;
    text-decoration: none;
    cursor: pointer;
}

#enlargedCallOut {
    width: 275px;
    max-width: 100%;
    z-index: 10;
    padding: 15px 15px 2px 15px;
    background-color: var(--main-color);
    color: #000000;

    text-align: left;
    border: 1px solid #666666;
    animation: zoom .65s;
}

#enlargedCallOut p {
    color: #000000;
    text-align: left;
    font-size: .9em;
    margin-bottom: 1em;
}

#enlargedCallOut p strong {
    font-weight: bold;
}


/* Source code. */
.sourceCode {
    position: relative;
    margin-bottom: 3em;
}

.sourceCode button {
    position: absolute;
    top: 0;
    right: 0;
}

.copy, .copyOkey, .copyError {
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 15px;
    top: 15px;
    visibility: hidden;
    color: #ABB2BF;
    opacity: 0;
    transition: opacity .75s;
}

.copy {
    visibility: visible;
    opacity: 1;
}

.copy:hover, .copy:focus {
    cursor: pointer;
    color: var(--main-color);
}

.sourceCode pre code, .sourceCode pre code * {
    font-family: Inconsolata;
}

.sourceCode pre code {
    border: 3px solid var(--main-color);
    border-radius: 6px;
    box-shadow: 2px 4px 25px rgba(0,0,0,.15);
    font-size: .9em;
    line-height: .9em;
    padding: 1em !important;
    padding-top: -4.5em !important;
    max-height: 500px;
}

.copyError {
    color: #FF0000;
}

.copyOkey {
    color: var(--main-color);
}

.hljs-ln-code {
    padding-left: 10px !important;
}

.hljs-ln-numbers {
    color: #CCC;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px !important;
}

.sourceCode * ::selection {
    background-color: #FFFFFF;
}


/* Blog controllers. */
#blogControllers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.blogButton {
    background-color: transparent;
    border-radius: 20px;
    border: solid 3px #E6E6E6;
    color: #787878 !important;
    cursor: pointer;
    display: inline-block;
    font-size: .9em;
    font-weight: 400;
    height: 3.15em;
    line-height: 2.75em;
    min-width: 12em;
    padding: 0 1.5em;
    text-align: center;
    white-space: nowrap;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
}

.blogButton:hover, .blogButton:focus {
    border-color: var(--main-color);
    color: var(--main-color) !important;
}

.blogButton {
    margin: .5em 4em;
}

.blogPrevious i {
    padding-right: .5em;
}

.blogNext i {
    padding-left: .5em;
}

.blogButtonInactive {
    opacity: .4;
    cursor: default;
    pointer-events: none;
}


/* Small screen size. */
@media screen and (max-width: 736px) {
    .blogButton {
        margin: .5em 2em;
    }
}


/* XSmall screen size. */
@media screen and (max-width: 480px) {
    .blogButton {
        margin: .5em .5em;
    }
}
