<div class="background">
   <img class="backgroundImage"
        data-src="/img/backgrounds/autumn"
        data-color="#D45B12"
        alt="Background image: Autumn." />
   <!-- <img class="backgroundImage"
        data-src="/img/backgrounds/beach"
        data-color="#006579"
        alt="Background image: Beach." /> -->
   <img class="backgroundImage"
        data-src="/img/backgrounds/flower"
        data-color="#C98E03"
        alt="Background image: Flower." />
   <img class="backgroundImage"
        data-src="/img/backgrounds/leaves"
        data-color="#3A6F1F"
        alt="Background image: Leaves." />
   <img class="backgroundImage"
        data-src="/img/backgrounds/lighthouse"
        data-color="#DF7E3A"
        alt="Background image: Lighthouse." />
   <img class="backgroundImage"
        data-src="/img/backgrounds/mountain"
        data-color="#56737B"
        alt="Background image: Mountain." />
   <!-- <img class="backgroundImage"
        data-src="/img/backgrounds/stars"
        data-color="#405172"
        alt="Background image: Stars." /> -->
</div>
<div class="overlay"></div>
