<div class="info" id="welcomeUser">
   <a href="javascript:closeInformation();" title="Close information.">
      <i class="closeInfo fas fa-window-close"></i>
   </a>
   <p>
      This website is under construction. Please, be patient.
   </p>
   <a href="https://whatwg.org/"
      rel="nofollow noopener"
      target="_blank"
      title="HTML website.">
      <img data-src="img/html.png"
           style="float: left;"
           width="140"
           alt="HTML logo." />
   </a>
   <a href="https://www.w3.org/Style/CSS/Overview.en.html"
      rel="nofollow noopener"
      target="_blank"
      title="Cascading Style Sheets home page.">
      <img data-src="img/css.png"
           style="float: right;"
           width="140"
           alt="CSS logo." />
   </a>
   <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
      rel="nofollow noopener"
      target="_blank"
      title="JavaScript website.">
      <img data-src="img/js.png"
           style="float: right; margin-right: 15px;"
           width="140"
           alt="JavaScript logo." />
   </a>
   <div style="clear: both;"></div>
   <p style="font-size: .8em; margin-top: 3.5em;">
      You can exit by pressing q or ESC or clicking outside this box.
   </p>
</div>

<div class="info" id="welcomeEmacsUser">
   <a href="javascript:closeInformation();" title="Close information.">
      <i class="closeInfo fas fa-window-close"></i>
   </a>
   <p>
      Hey Emacs user! You are more than welcome. You may be interested in
      checking out my
      <a href="https://gitlab.com/DavidAlvarez/dotfiles/blob/master/.emacs.d/config.org"
         title="My Emacs cofiguration files."
         target="_blank">
         Emacs configuration <i class="fas fa-external-link-alt"></i>
      </a>.
   </p>
   <a href="https://www.gnu.org/software/emacs/"
      rel="nofollow noopener"
      target="_blank"
      title="GNU Emacs official website.">
      <img data-src="img/emacs.png"
           style="float: left; margin-left: 30px;"
           height="150"
           alt="Emacs icon." />
   </a>
   <a href="https://stallman.org"
      rel="nofollow noopener"
      target="_blank"
      title="Richard Stallman's Personal Site.">
      <img data-src="img/richard_stallman.png"
           style="float: right; margin-right: 30px;"
           height="150"
           alt="Richard Stallmann with Emacs icon." />
   </a>
   <div style="clear: both;"></div>
   <p style="font-size: .8em; margin-top: 2em;">
      You can exit by pressing q or ESC or clicking outside this box.
   </p>
</div>

<div class="info" id="welcomeVimUser">
   <a href="javascript:closeInformation();" title="Close information.">
      <i class="closeInfo fas fa-window-close"></i>
   </a>
   <p>
      Hey Vim user! You are more than welcome.
   </p>
   <a href="https://www.vim.org/"
      rel="nofollow noopener"
      target="_blank"
      title="Vim official website.">
      <img data-src="img/vim.png"
           style="margin-left: calc(50% - 175px/2);"
           width="175"
           alt="Vim icon." />
   </a>
   <div style="clear: both;"></div>
   <p style="font-size: .8em; margin-top: 1.5em;">
      You can exit by pressing q or ESC or clicking outside this box.
   </p>
</div>

<div class="info" id="welcomeNoobUser">
   <a href="javascript:closeInformation();" title="Close information.">
      <i class="closeInfo fas fa-window-close"></i>
   </a>
   <p style="margin-bottom: 1em;">
      Hey visitor! It seems that you like to use the keyboard to
      scroll. Please consider <em>upgrading</em> to (probably) better shortcuts.
   </p>
   <ul style="float: left; margin-left: 25px;">
      <li style="margin-left: 32px;"><strong>Emacs</strong></li>
      <li><strong>n</strong>: scroll next.</li>
      <li><strong>p</strong>: scroll previous.</li>
      <li><strong>f</strong>: forward section.</li>
      <li><strong>b</strong>: backward section.</li>
      <li><strong>&lt;</strong>: go top.</li>
      <li><strong>&gt;</strong>: go bottom.</li>
   </ul>
   <ul style="float: right; margin-right: 50px;">
      <li style="margin-left: 35px;"><strong>Vim</strong></li>
      <li><strong>j</strong>: scroll next.</li>
      <li><strong>k</strong>: scroll previous.</li>
      <li><strong>l</strong>: forward section.</li>
      <li><strong>h</strong>: backward section.</li>
      <li><strong>g</strong>: go top.</li>
      <li><strong>G</strong>: go bottom.</li>
   </ul>
   <div class="clear"></div>
   <ul style="margin-top: 1em; margin-left: 135px;">
      <li style="margin-left: 35px;"><strong>Others</strong></li>
      <li><strong>d</strong>: scroll down.</li>
      <li><strong>u</strong>: scroll up.</li>
      <li><strong>m</strong>: toggle navigation.</li>
      <li><strong>space</strong>: toggle animation.</li>
      <li><strong>arrows</strong>: prev/next background.</li>
      <li><strong>?</strong> or <strong>H</strong>: show this help.</li>
   </ul>
   <p style="font-size: .8em; margin-top: 1.5em;">
      You can exit by pressing q or ESC or clicking outside this box.
   </p>
</div>

<div class="info" id="welcomeChromeUser">
   <a href="javascript:closeInformation();" title="Close information.">
      <i class="closeInfo fas fa-window-close"></i>
   </a>
   <p>
      Hey visitor! It seems that you are using Google Chrome. You are more
      than welcome, but your browser is not: read
      <a href="https://www.gnu.org/proprietary/malware-google.html"
         title="Google's Software is Malware."
         rel="nofollow noopener"
         target="_blank">
         why <i class="fas fa-external-link-alt"></i>
      </a>.
      Please consider changing it.
   </p>
   <a href="https://qutebrowser.org/"
      rel="nofollow noopener"
      target="_blank"
      title="Qutebrowser official website.">
      <img data-src="img/qutebrowser.png"
           style="float: left; margin-left: 30px;"
           height="150"
           alt="Qutebrowser icon." />
   </a>
   <a href="https://gnu.org"
      rel="nofollow noopener"
      target="_blank"
      title="GNU Operating System official website.">
      <img data-src="img/gnu.png"
           style="float: right; margin-right: 30px;"
           height="150"
           alt="GNU Operating System icon." />
   </a>
   <div class="clear"></div>
   <p style="font-size: .8em; margin-top: 2em;">
      You can exit by pressing q or ESC or clicking outside this box.
   </p>
</div>

<div class="info" id="infoEmail">
   <a href="javascript:closeInformation();" title="Close information.">
      <i class="closeInfo fas fa-window-close"></i>
   </a>
   <p>
      This is my email. For security reasons it has been included as an
      image.
   </p>
   <a href="img/email.png"
      title="Personal email.">
      <img data-src="img/email.png"
           style="margin-left: calc(50% - 200px/2);"
           width="200"
           alt="Personal email." />
   </a>
   <p style="font-size: .8em; margin-top: 1.75em;">
      You can exit by pressing q or ESC or clicking outside this box.
   </p>
</div>

<div class="info" id="infoPhone">
   <a href="javascript:closeInformation();" title="Close information.">
      <i class="closeInfo fas fa-window-close"></i>
   </a>
   <p>
      This is my phone number. For security reasons it has been included as an
      image.
   </p>
   <a href="img/phone-number.png"
      title="Personal phone number.">
      <img data-src="img/phone-number.png"
           style="margin-left: calc(50% - 175px/2);"
           width="175"
           alt="Personal phone number." />
   </a>
   <p style="font-size: .8em; margin-top: 1.75em;">
      You can exit by pressing q or ESC or clicking outside this box.
   </p>
</div>

<div class="info" id="infoAddress">
   <a href="javascript:closeInformation();" title="Close information.">
      <i class="closeInfo fas fa-window-close"></i>
   </a>
   <p>
      This is my address. For security reasons it has been included as an
      image.
   </p>
   <a href="img/address.png"
      title="Personal address.">
      <img data-src="img/address.png"
           style="margin-left: calc(50% - 275px/2);"
           width="275"
           alt="Personal address." />
   </a>
   <p style="font-size: .8em; margin-top: 2.5em;">
      You can exit by pressing q or ESC or clicking outside this box.
   </p>
</div>

<div class="triangleBubble" id="fastControlMsg">
   Wow, wow, slow down. <br /> That's too fast!
</div>

<div id="blurBackground"></div>
