<div id="license" class="fadeIn">
   <p id="copyright">
      Copyright &copy; 2019-2020
      <a href="/"
         title="David Álvarez Rosa's personal website.">
         David Álvarez Rosa
      </a>
   </p>
   <a rel="license noopener"
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
      target="_blank"
      title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.">
      <img src="/img/license.png"
           alt="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License." />
   </a>
   <br />
   <p>
      Except where otherwise noted, content on this website is licensed under a
      <a rel="license noopener"
         href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
         target="_blank"
         title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License." >
         Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>
      <i class="fas fa-external-link-alt"></i> license.
   </p>
   <p style="padding-top: 1.5em;">
      The
      <a href="https://gitlab.com/DavidAlvarez/personal-website"
         target="_blank"
         title="Personal website source code - Gitlab.">
         source code</a> <i class="fas fa-external-link-alt"></i>
      of this website is licensed under the
      <a rel="license noopener"
         href="https://www.gnu.org/licenses/gpl-3.0.html"
         target="_blank"
         title="GNU General Public License version 3.">
         GNU General Public License</a> <i class="fas fa-external-link-alt"></i>.
   </p>
   <hr />
   <p>
      Broken links and other corrections or suggestions can be sent
      to &lt;<a href="javascript:showInfo('welcomeUser');"
                title="Web master email.">webmaster@alvarezrosa.com</a>&gt;.
   </p>
   <p>
      Last update: April 11, 2020
   </p>
</div>
